html {
	display: flex;
	justify-content: center;
	scroll-behavior: smooth !important;
	font-family: 'Courier New', Courier, monospace;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 15px;
	justify-content: flex-end;
}

body {
	display: block !important;
	word-wrap: break-word;
	width: min(750px, 100vw);
	position: relative;
	padding: 20px;
}

.menu-wrapper {
	position: absolute;
	top: 0px;
	left: 100%;
	height: 100%;
	border-left: 1px solid rgb(128,128,128);
	padding-left: 20px;
}

.menu {
	position: fixed;
	width: 350px;
	max-height: 100vh;
	overflow: scroll;
}

.body-with-menu {
	margin-right: 300px;
}

@media (prefers-color-scheme: dark) {
	html {
		color: rgb(200, 260, 180);
		background: #4d4d4d;
	}

	a {
		color: rgb(180, 200, 260);
	}

	a:visited {
		color:#b7b7b7;
	}
}

